<%= form_for(@trabajo) do |f| %>
  <% if @trabajo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trabajo.errors.count, "error") %> prohibited this trabajo from being saved:</h2>

      <ul>
      <% @trabajo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :usuario %><br>
    <%= f.text_field :usuario %>
  </div>
  <div class="field">
    <%= f.label :tipo %><br>
    <%= f.text_field :tipo %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.date_select :fecha %>
  </div>
  <div class="field">
    <%= f.label :hora %><br>
    <%= f.text_field :hora %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
